html {
    font-size: 15px;
    height: 100%;
}

body {
    font-family: system-ui, sans-serif;
    width: 100%;
    background-color: #fffffa;
    color: #111;
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.site-header,
.site-footer {
    flex: none;
}

h1, h2, h3,
p, pre, blockquote,
ul, ol {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "TeX Gyre Pagella", "Liberation Serif", "Book Antiqua", Georgia, serif;
    font-weight: 700;
    line-height: 1.2;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 2.281em;
}

h2 {
    margin-top: 1.4em;
    margin-bottom: 0;
    font-size: 1.802em;
}

h3 {
    margin-top: 1.4em;
    margin-bottom: 0;
    font-size: 1.424em;
}

a:link, a:visited {
    color: inherit;
}

p, ol, ul {
    font-size: 1.125em;
    line-height: 1.6;
    font-feature-settings: "onum" 1;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 2;
    hyphenate-limit-chars: 6 3 2;
}

.pn, abbr {
    hyphens: manual;
}

@supports (font-variant-numeric: oldstyle-nums) {
    p, ul, ol {
        font-feature-settings: normal;
        font-variant-numeric: oldstyle-nums;
    }
}

h2 + p {
    margin-top: 1em;
}

h3 + p {
    margin-top: 0.5em;
}

code {
    display: inline-block;
    padding: 0 0.4em;
    background-color: hsl(0, 0%, 98%);
    border: 1px solid hsl(0, 0%, 88%);
    border-radius: 2px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.886em;
    line-height: 1.226;
}

pre {
    margin-top: 1.424rem;
    margin-bottom: 1.424rem;
}

pre code {
    display: block;
    overflow-y: auto;
    padding: 0.79rem;
}

blockquote {
    margin-top: 1.424rem;
    margin-bottom: 1.424rem;
}

blockquote p,
blockquote footer {
    padding-left: 1.802rem;
}

blockquote footer {
    font-size: 1.125rem;
    text-align: right;
}

.edit-me,
.draft {
    background-color: hsl(90, 100%, 80%);
}

ul, ol {
    padding-left: 0;
}

p + ul,
p + ol {
    margin-top: -1em;
}

li {
    margin-left: 1.5em;
    padding: 0.4em 0;
}

sup {
    font-feature-settings: "sups" 1;
}
@supports (font-variant-position: super) {
    sup {
        font-feature-settings: normal;
        font-variant-position: super;
    }
}
@supports ((font-variant-position: super) or (font-feature-settings: "sups" 1)) {
    sup {
        vertical-align: inherit;
        font-size: inherit;
    }
}

p strong.lead {
    font-size: 0.91em;
}

p.subtitle,
.menu,
.post-list {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "TeX Gyre Pagella", "Liberation Serif", "Book Antiqua", Georgia, serif;
}

.site-header {
    text-align: center;
}

.site-header .title {
    font-size: 2.887em;
}

.site-header .title a {
    text-decoration: none;
}

.site-footer {
    text-align: center;
    margin-top: 4.11rem;
}

.site-footer::before {
    border-top: 2px solid #111;
    display: block;
    width: 90%;
    content: '';
    margin-left: auto;
    margin-right: auto;
}

.menu {
    font-size: 1.424em;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.menu li {
    display: inline-block;
    margin-left: 0;
}

.menu li a {
    display: block;
    padding: 0 0.7em;
}

article header {
    margin-bottom: 2em;
}

article footer {
    margin-top: 2em;
}

p.subtitle {
    font-size: 1.424em;
    display: block;
    line-height: 1;
}

.post-list {
    list-style: none;
    padding: 0;
}

.post-list li {
    margin-left: 0;
}

.post-list .post-date {
    display: block;
    width: 100%;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.post-list a {
    font-size: 1.2em;
}

.post-list .badge-short {
    font-style: italic;
    font-size: 0.79em;
    vertical-align: top;
}

.article-edit {
    font-size: 1rem;
    font-style: italic;
}

.copyright {
    margin-top: 2.027rem;
    font-size: 0.79rem;
}

@media (min-width: 680px) {
    .post-list .post-date {
        display: inline-block;
        width: 8em;
        margin: 0;
    }
}

@media (min-width: 780px) {
    h1, h2, h3,
    p, pre, blockquote,
    ul, ol {
        width: 100%;
        max-width: 720px;
    }

    .site-footer::before {
        max-width: 830px;
    }
}
