<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
<head prefix="og: http://ogp.me/ns#">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ .Title }}{{ if not .IsHome }} &ndash; {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" type="text/css" href="{{ "css/main.css" |  absURL }}" />
    <link rel="alternate" type="application/rss+xml" href="{{ "index.xml" | absURL }}" title="“{{ .Site.Title }}” RSS"/>
    <!-- S.E.O. (is it really?) -->
    <link rel="canonical" href="{{ .Permalink }}" />
    <meta name="title" content="{{ partial "title.html" . }}" />
    <meta name="description" content="{{ $.Param "desc" }}" />
    <meta name="author" contnet="{{ $.Param "author" | safeHTML }}" />
    <!-- OpenGraph meta tags -->
    <meta property="og:title" content="{{ partial "title.html" . }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
    <meta property="og:description" content="{{ $.Param "desc" }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    {{ if .IsPage }}
    <meta property="article:published_time" content="{{ .Date.Format "2006-01-02" }}" />
    <meta property="article:author" content="{{ $.Param "author" | safeHTML }}" />
    {{ end }}
    <!-- Twitter Card meta tags-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ partial "title.html" . }}" />
    <meta name="twitter:description" content="{{ $.Param "desc" }}" />
</head>
<body>
<header class="site-header">
    <h1 class="title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
{{ $page := . }}
    <ul class="menu">
    {{ range .Site.Menus.top }}<li {{ if $page.IsMenuCurrent "top" . }} class="active"{{end}}><a href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
    </ul>
</header>
<main>
